<div class="rating">
  <div class="rating__header">
    Rating
  </div>
  <div class="rating__pictures">
    <div>
      <img class="rating__pictures__difference" src="../../../../assets/images/difference.jpg" alt="logo">
      <img class="rating__pictures__userPicture" src="../../../../assets/images/userPicture.jpg" alt="logo">
    </div>
    <img class="rating__pictures__original" src="" alt="logo">
    <button class="btn btn-primary rating__pictures__swap" (click)="Opacity()">Swap</button>
  </div>
  <div>
    <div class="rating__table">
      <table class="table table-compact">
        <thead>
        <tr>
          <th>Время сдачи</th>
          <th>Процент совпадения</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of currentUserTaskAttempts">
        <tr>
          <td>{{item.time}}</td>
          <td>{{item.progress}}%</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="rating__passes">
      <p>Количество попыток</p>
      <div *ngFor="let item of attempt" class="rating__passes__stars">
        <clr-icon *ngIf="item === 0" shape="star"></clr-icon>
        <clr-icon *ngIf="item === 1" shape="star" class="rating__passes__stars_gold"></clr-icon>
      </div>
    </div>
  </div>
</div>
