.dark-theme(){
  background: #000;
}
.light-theme(){
  background: #fafafa;
}
.login-wrapper{
  padding-top: 60px;
  position: fixed;
  .light-theme();
}
.welcome {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__text{
  margin-top: 100px;
  margin-bottom: 100px;
}
