.box {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.box div {
  width: 600px;
  height: 960px;
}


.condition {
  height:820px;
  border-left:1px solid #ccc7c3;
}
.imagine {
  height:820px;
  border-left:1px solid #ccc7c3;
}

.box2 {
  display: flex;
  overflow: auto;
}

.box2 div:nth-child(1) {
  flex: 1;
}

.box2 div:nth-child(2) {
  flex: 2;
  border-left:1px solid #ccc7c3;
}


