<clr-stack-view>
  <clr-stack-header>TaskModel</clr-stack-header>

  <clr-stack-block>
      <clr-stack-label>Basic</clr-stack-label>
      <clr-stack-content>Content 1</clr-stack-content>

      <clr-stack-block>
        <clr-stack-label>task 1</clr-stack-label>
        <clr-stack-content>Sub-content 1</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>task 2</clr-stack-label>
        <clr-stack-content>Sub-content 2</clr-stack-content>
      </clr-stack-block>
  </clr-stack-block>

  <clr-stack-block>
      <clr-stack-label>Level up</clr-stack-label>
      <clr-stack-content>Content 2</clr-stack-content>

      <clr-stack-block>
        <clr-stack-label>task 1</clr-stack-label>
        <clr-stack-content>Sub-content 1</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>task 2</clr-stack-label>
        <clr-stack-content>Sub-content 2</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>task 3</clr-stack-label>
        <clr-stack-content>Sub-content 3</clr-stack-content>
      </clr-stack-block>
  </clr-stack-block>

    <clr-stack-block>
      <clr-stack-label>Advanced</clr-stack-label>
      <clr-stack-content>Content 3</clr-stack-content>

      <clr-stack-block>
        <app-tasks></app-tasks>
      </clr-stack-block>

      <clr-stack-block>
        <clr-stack-label>task 2</clr-stack-label>
        <clr-stack-content>Sub-content 2</clr-stack-content>
      </clr-stack-block>

    </clr-stack-block>
</clr-stack-view>

