<div class="registration-window">
  <form class="login">
    <div class = "registration-window__input-data">
      <h3>Control panel</h3>
      <clr-select-container>
        <label class="clr-sr-only">User Role</label>
        <select clrSelect name="type">
          <option value="local">Local Users</option>
          <option value="admin">Administrator</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <input type="text" name="username" clrInput placeholder="Username"/>
      </clr-input-container>
      <clr-password-container>
        <input type="password" name="password" clrPassword placeholder="Password"/>
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" clrCheckbox/>
      </clr-checkbox-wrapper>
      <button type="submit" class="btn btn-success">Log in</button>
    </div>
  </form>
</div>
