<header class="header-6">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <span class="title">
        <img src="../../../assets/images/NetcrackerHeaderLogo.png" width="200" routerLink="login">
      </span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem routerLink="tasks">Задачи</a>
        <a clrDropdownItem routerLink="settings">Настройки</a>
        <a clrDropdownItem routerLink="task-load">Выход</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
