.box {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
}

.box div:nth-child(1) {
  flex: 1;
}

.box div:nth-child(2) {
  flex: 1;
}

.box div:nth-child(3) {
  flex: 1;
}



.condition {
  height:820px;
  border-left:1px solid #ccc7c3;
}
.imagine {
  height:820px;
  border-left:1px solid #ccc7c3;
}

.box2 {
  display: flex;
  flex-direction: row;
}

.box2 div:nth-child(1) {
  flex: 1;
}

.box2 div:nth-child(2) {
  flex: 2;
  border-left:1px solid #ccc7c3;
  height:820px;
}

