<div>
  <div class="condition">
    <div class="condition_task">
      Название выбранной задачи
    </div>
    <div class="condition_deadline">
      Deadline
    </div>
    <div class="condition_text">
      Twoaergaer Lorem ipsum dolor sit amet, consectetur adipisicing elit. In,
      itaque reprehenderit. Aliquam consequatur eius, exercitationem iure laboriosam numquam quaerat repellat sit!
      Aliquam aperiam dignissimos explicabo mollitia nihil odit rerum similiqjyggue? Twoaergaer Lorem ipsum dolor sit amet, consectetur adipisicing elit. In,
      itaque reprehenderit. Aliquam consequatur eius, exercitationem iure laboriosam numquam quaerat repellat sit!
      Aliquam aperiam dignissimos explicabo mollitia nihil odit rerum similiqjyggue? Twoaergaer Lorem ipsum dolor sit amet, consectetur adipisicing elit. In,
      itaque reprehenderit. Aliquam consequatur eius, exercitationem iure laboriosam numquam quaerat repellat sit!
      Aliquam aperiam dignissimos explicabo mollitia nihil odit rerum similiqjyggue? Twoaergaer Lorem ipsum dolor sit amet, consectetur adipisicing elit. In,
      itaque reprehenderit. Aliquam consequatur eius, exercitationem iure laboriosam numquam quaerat repellat sit!
      Aliquam aperiam dignissimos explicabo mollitia nihil odit rerum similiqjyggue? Twoaergaer Lorem ipsum dolor sit amet, consectetur adipisicing elit. In,
      itaque reprehenderit. Aliquam consequatur eius, exercitationem iure laboriosam numquam quaerat repellat sit!
      Aliquam aperiam dignissimos explicabo mollitia nihil odit rerum similiqjyggue?

    </div>
  </div>
</div>
