<div class="task">
  <div class="task__condition-rating">
    <app-tl-condition class="task__condition-rating__condition"
                      [currentTask]="currentTask"
                      [currentUserTaskAttempts]="currentUserTaskAttempts"></app-tl-condition>
    <app-tl-rating class="task__condition-rating__rating"
                   [currentTask]="currentTask"
    [currentUserTaskAttempts]="currentUserTaskAttempts"></app-tl-rating>
  </div>
  <app-send-field class="task__sender" [currentTask]="currentTask"
                  [taskId]="taskId"></app-send-field>
</div>

