<clr-vertical-nav>
  <clr-vertical-nav-group>
    Basic
    <clr-vertical-nav-group-children *ngFor="let item of basicTasks">
      <div class="nav__group">
        <div class="nav__group__name" [routerLink]="['/task-load', item.id]"
             [queryParams]="{'currentTask': currentTaskJSON,
              'currentUserTaskAttempts': currentUserTaskAttemptsJSON}">
          {{item.name}}
        </div>
        <div class="nav__group__options" *ngIf="isPressed"
             (click)="sendToTaskPage(item.id)">...</div>
      </div>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group>
    LevelUp
    <clr-vertical-nav-group-children *ngFor="let item of levelUpTasks">
      <div class="nav__group">
        <div class="nav__group__name" [routerLink]="['/task-load', item.id]"
             [queryParams]="{'currentTask': currentTaskJSON,
              'currentUserTaskAttempts': currentUserTaskAttemptsJSON}">
          {{item.name}}
        </div>
        <div class="nav__group__options" *ngIf="isPressed" (click)="sendToTaskPage(item.id)">...</div>
      </div>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group>
    Advanced
    <clr-vertical-nav-group-children *ngFor="let item of advancedTasks">
      <div class="nav__group">
        <div class="nav__group__name" [routerLink]="['/task-load', item.id]"
             [queryParams]="{'currentTask': currentTaskJSON,
              'currentUserTaskAttempts': currentUserTaskAttemptsJSON}">
          {{item.name}}
        </div>
        <div class="nav__group__options" *ngIf="isPressed" (click)="sendToTaskPage(item.id)">...</div>
      </div>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <a clrVerticalNavLink (click)="sendToTaskPage(null)">
    Close
  </a>
</clr-vertical-nav>
