.task{
  min-height: 89vh;
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
}

.task__condition-rating{
  display: grid;
  grid-template-columns: auto 1000px;
  justify-content: space-around;
  align-self: center;
}
.task__condition-rating__condition{
  justify-self: center;
  max-width: 480px;
}
.task__condition-rating__rating{
  justify-self: center;
}
.task__sender{
  height: 60px;
}

