.condition{
  display: grid;
  grid-template-rows: auto auto auto;
}

.condition__task{
  background: #6896c3;
  border: 1px double #c8d7e7;
  border-radius: 10px 10px 0 0;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  min-height: 50px;
}
.condition__deadline{
  color: black;
  font-style: italic;
  background: #c8d7e7;
  border: 1px double #c8d7e7;
  min-height: 30px;
}
.condition__text{
  color: black;
  border: 1px double #c8d7e7;
  border-radius: 0 0 10px 10px;
  min-height: 490px;
}
