.condition{
  display: grid;
  grid-template-rows: 50px 30px 1fr;
}

.condition_task{
  background: #6896c3;
  border: 1px double #c8d7e7;
  border-radius: 10px 10px 0 0;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}
.condition_deadline{
  color: black;
  font-style: italic;
  background: #c8d7e7;
  border: 1px double #c8d7e7;
}
.condition_text{
  height: 100vh;
  color: black;
  border: 1px double #c8d7e7;
  border-radius: 0 0 10px 10px;

}
