.rating{
  display: grid;
  //grid-template-rows: 100vh 150px;
}
.rating_pictures{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.rating_pictures_userPicture{
}
.rating_pictures_difference{
  position: absolute;
}
.swap{
  width: 150px;
  margin-left: 168px;
  margin-top: 20px;
}

