.rating{
  display: grid;
  grid-template-rows: 470px 100px;
  button:hover{background: rgb(0, 37, 56)
  };
}
.rating__pictures{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 490px 490px;
  align-self: center;
}

.rating__pictures__userPicture{
  max-width: 480px;
  box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.5);
}
.rating__pictures__difference{
  max-width: 480px;
  position: absolute;

}
.rating__pictures__original{
  max-width: 480px;
  box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.5);
}

.rating__table{
  align-self: end;
}
.rating__pictures__swap{
  border: none;
  background-color: #6895c2;
  color: #fafafa;
  box-shadow: 2px 2px 1px rgba(200, 200, 200, 0.5);
  font-weight: bold;
  justify-self: center;
}

