.rating{
  display: grid;
  grid-template-rows: auto auto;
  button:hover{background: rgb(0, 37, 56)};
}
.rating__pictures{
  display: grid;
  grid-template-columns: 490px 490px;
  align-self: center;
}

.rating__pictures__userPicture{
  max-width: 480px;
  box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.5);
}
.rating__pictures__difference{
  cursor: pointer;
  max-width: 480px;
  position: absolute;
}
.rating__pictures__original{
  cursor: pointer;
  max-width: 480px;
  box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.5);
}


.display__pictures__user_big{
  max-width: 1080px;
}

.display__pictures__diff_big{
  cursor: pointer;
  max-width: 1080px;
  position: absolute;
}

.display__pictures__original_big{
  cursor: pointer;
  max-width: 1080px;
}

.display{
  margin-top: 60px;
  display: grid;
  grid-template-rows: 610px 50px;
  align-content: start;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: rgba(11, 16, 21, 0.95);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  button:hover{background: rgb(0, 37, 56)};
}

.display__pictures{
  margin-top: 50px;
}

.rating__table{
  margin: 0;
  align-self: center;
  border: none;
  box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.2);
  tr:hover{background-color: #cccccc}
}
.rating__pictures__swap{
  border: none;
  background-color: #6895c2;
  color: #fafafa;
  box-shadow: 2px 2px 1px rgba(200, 200, 200, 0.5);
  font-weight: bold;
  justify-self: center;
}

.display__swap{
  margin-top: 50px;
  width: 150px;
  border: none;
  background-color: #6895c2;
  color: #fafafa;
  font-weight: bold;
}
.rating__table__cell{
  border: 1px solid #cbcbcb;
}
.rating__table__cell_middle{
  border: 1px solid #cbcbcb;
  border-left: none;
  border-right: none;
}
.rating__table__row{
  cursor: pointer;
}

