<div class="rating">
  <div class="rating_pictures">
    <div>
      <img class="rating_pictures_difference" src="../../../../assets/images/landau.jpg" width="420">
      <img class="rating_pictures_userPicture" src="../../../../assets/images/david.jpg" width="420">
    </div>
    <img src="../../../../assets/images/landau.jpg" width="420">
    <button class="btn btn-primary" (click)="Opacity()">Swap</button>
  </div>
  <table class="table rating_table">
    <thead>
    <tr>
      <th class="dd">Количество попыток</th>
      <th>Процент совпадения</th>
      <th>Последняя сдача</th>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color: #fafafa">
      <td>Попытки</td>
      <td>Процент</td>
      <td>04.12.2019 20:42</td>
    </tr>
    </tbody>
  </table>
</div>
