<div class="rating">
  <div class="rating__pictures">

      <div>
        <img class="rating__pictures__difference"
             src="{{dynamicUrl()}}{{currentUserTaskAttempts[attemptNumber].urlSamplePicture}}" (click)="KingSize(3)">
        <img class="rating__pictures__userPicture"
             src="{{dynamicUrl()}}{{currentUserTaskAttempts[attemptNumber].urlUserPicture}}" >
      </div>
        <img class ="rating__pictures__original"
             src="http://localhost:8080/backend/files/{{currentTask.urlSample}}" (click)="KingSize(1)">

    <button class="btn btn-primary rating__pictures__swap" (click)="OpacitySmall()">Swap</button>
  </div>
  <table class="table table-compact rating__table">
    <thead>
    <tr>
      <th class="rating__table__cell">Рейтинг попыток</th>
      <th class="rating__table__cell_middle">Процент совпадения</th>
      <th class="rating__table__cell">Время сдачи</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of currentUserTaskAttempts">
    <tr class="rating__table__row"
      (click)="setAttemptNumber(currentUserTaskAttempts.indexOf(item))">
      <td class="rating__table__cell">{{currentUserTaskAttempts.indexOf(item) + 1}}</td>
      <td class="rating__table__cell_middle">{{item.progress}}%</td>
      <td class="rating__table__cell">{{Date(item.time)}}</td>
    </tr>
    </tbody>
  </table>
</div>


<ng-container  *ngIf="num !== 0">

  <div class="display">
    <div class="display__pictures">
      <ng-container *ngIf="num === 3">
        <img class="display__pictures__diff_big"
             src="{{dynamicUrl()}}{{currentUserTaskAttempts[attemptNumber].urlSamplePicture}}" (click)="KingSize(0)">
        <img class="display__pictures__user_big"
             src="{{dynamicUrl()}}{{currentUserTaskAttempts[attemptNumber].urlUserPicture}}" (click)="KingSize(0)">
      </ng-container>
      <ng-container *ngIf="num === 1">
        <img class ="display__pictures__original_big"
             src="http://localhost:8080/backend/files/{{currentTask.urlSample}}" (click)="KingSize(0)">
      </ng-container>
    </div>
    <button *ngIf="num === 3" class="btn btn-primary display__swap" (click)="OpacityBig()">Swap</button>
  </div>
</ng-container>
