<div class="login-wrapper">
  <form class="login" [formGroup]="user">
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" id="username" clrInput placeholder="Username" formControlName="username"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" id="password" clrPassword placeholder="Password" formControlName="password"/>
      </clr-password-container>
      <button type="submit" class="btn btn-primary" routerLink="/tasks" (click)="Login()">NEXT</button>
    </div>
  </form>
  <div class="welcome">
    <div class="welcome__text">
      <h1>Netcracker Front-end Academy</h1>
      <h3>Improve and test your developer skills!</h3>
      <li>With Front-end Academy, you can practice coding without a tutor. Your code is checked online in many ways.</li>
      <li>Our tasks are complicated as compared with other services. After them, you will be ready for projects with a mentor.</li>
      <li>Our tasks give you real-life skills which you can't get neither by doing such projects nor by preparing for exams.</li>
    </div>
    <img src="../../../assets/images/NetcrackerLogo.png" alt="logo">
  </div>
</div>

