<div class="task-page">
  <div class="box"
       [class.box]="!showInfo"
       [class.box2]="showInfo">
    <div class="box__list">
      <app-list (outAttemptsToTaskPage)='receiveAttemptsFromList($event)'
                (outTaskToTaskPage)='receiveTaskFromList($event)'></app-list>
    </div>
    <ng-container *ngIf="!showInfo">
      <div class="box__condition-rating">
        <div class="box__condition-rating__condition">
          <app-condition [currentTask]="currentTask"></app-condition>
          ident is {{ident}}
        </div>
        <div class="box__condition-rating__rating">
          <app-rating [currentTask]="currentTask" [currentUserTaskAttempts]="currentUserTaskAttempts"></app-rating>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showInfo">
      <div class="box__template">
        <div class="box__template__condition">
          <div class="box__template__condition__header"></div>
          <div class="box__template__condition__deadline"></div>
          <div class="box__template__condition__condition"></div>
        </div>
        <div class="box__template__rating">
          <div class="box__template__rating__content">
            <img class="box__template__rating__content__image" src="../../../../assets/images/NetcrackerLogo.png">
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
